* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.goToTop {
    position: fixed;
    display: none;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 6969;
    border: 2px solid black;
}

.goToTop img {
    height: 50px;
    width: 50px;
    z-index: 100000;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

}

#navbar:hover {
    background: linear-gradient(45deg, black, white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#Wel {
    margin-top: 10%;
}


.logo {
    height: 90px;
    width: 90px;
    padding: 5px;
}

.linkfrelement {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
}

.elements {
    list-style-type: none;
    margin-top: 8px;
    padding: 30px;

}

#ulFrnav {
    display: flex;
}

.linkfrelement:hover {
    background-color: white;
    color: black;
}

.socialmedia {
    display: flex;
    margin-left: auto;
}

.Sm {
    height: 40px;
    width: 40px;
    margin: auto 14px;
    border: 2px solid black;
    padding: 9px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px white);
}

#yt {
    height: 40px;
    width: 40px;
    margin: auto 14px;
    border: 2px solid black;
    padding: 9px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px white);
}

#yt {
    margin-right: 50px;
}

#yt:hover {
    filter: drop-shadow(0px 0px 4px black) invert(1);
    background-color: Cyan;

}

.Sm:hover {
    filter: drop-shadow(0px 0px 4px black) invert(1);
    background-color: yellow;
}

.container1 {
    height: 600px;
}

#Wel {
    font-size: 2.5em;
    font-weight: bolder;
}

.intro {
    display: flex;
    align-items: center;

    height: 600px;


    flex-direction: column;

    background-size: 100% 100%;

}

.intro::before {
    content: "";
    height: 100%;
    width: 100%;

    position: absolute;
    background: center/cover no-repeat url(Bg1_.jpg);
    z-index: -1;
    opacity: 0.8;
}

#p {
    font-size: 1.1em;
    font-weight: bold;
}

.container2 {
    display: flex;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 400px;
    background-color: rgb(246, 250, 246);
}

.picSection {
    border: 2px solid rgb(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 20px;
    width: 45%;
    transition: width 0.3s ease, margin 0.3s ease;
    filter: drop-shadow(0px 0px 4px rgb(0, 0, 0))
}

.AnthrIntro {
    border: 2px solid rgba(0, 128, 0, 0.5);
    margin: 20px;
    border-radius: 20px;
    padding: 15px;
    width: 48%;

    background: linear-gradient(45deg, greenyellow, pink);
    transition: width 0.3s ease, margin 0.3s ease;
    filter: drop-shadow(0px 0px 4px rgb(0, 0, 0));

}

.AnthrIntro:hover {
    width: 55%;
    margin: 15px;
}

.picSection {

    width: 85vmin;

    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    12.5% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    37.5% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    62.5% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    87.5% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.wrapper img {
    width: 100%;

}

.picSection:hover {
    width: 50%;
    margin: 15px;
}

.wrapper img {
    flex: 0 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;

    height: 100%;
}

.container3 {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #00bcd4, #ffeb3b);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px 100px;
    padding: 50px 100px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.container .card:hover {
    height: 350px;
}

.container .card .ImgBx {
    position: absolute;
    top: 15px;
    width: 255px;
    height: 200px;
    background-color: red;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.4s;
}

.container .card:hover .ImgBx {
    top: -65px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .ImgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 222px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    height: 55px;
    overflow: hidden;
    transition: 0.4s;
}

.container .card:hover .content {
    top: 120px;
    height: 250px;
}

.container .card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);

}

.container .card .content p {
    color: #333;
    font-size: 1.05em;
}

.container .card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 10px 22px;
    background-color: var(--clr);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
}

.container .card .content a:hover {
    color: rgb(230, 227, 227);
}


.container-4 {
    border-top: 4px solid rgb(60, 99, 3);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}